.ul{
    background-color: rgb(255, 255, 255);

}

.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.container .col .sm{
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 1.5em;
}

.col {
    padding: .4em 1.3em;
}

.color-dark {
    background: rgb(0, 0, 0);
    font-family:monospace ;
    font-size: 1.3em;

}

.color-light { 
    background: rgb(27, 27, 27);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:1em;
    margin-left: 3em;
    text-align: center;
    cursor: pointer;
}

.life-continer {
    background: rgb(0, 0, 0);
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}