<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <header>
        <h1>Mi-Peda</h1>
        <h2>Bienvenido a la página de registro de Mi-Peda... v1</h2>
        <input type="submit" class="btn" [value]="btnText" (click)="download()">
    </header>
  
  <li><a routerLink="">Usuarios</a></li> 
  <li><a routerLink="hosts/48">Hosts</a></li> 
  <li><a routerLink="pedas/48">Pedas</a></li> 
  <li><a routerLink="alcoholes/48">Alcoholes</a></li> 
  <li><a routerLink="usuariopedas/48">UsuarioPedas</a></li> 
  <li><a routerLink="hostpedas/48">HostPedas</a></li> 
</ul>

<router-outlet></router-outlet>
